html {
    font-family: 'Inter', sans-serif;
    color: #555555;
    
}
header {
   display: flex; 
   justify-content: space-between;
   padding: 0 10px 30px 10px;
   margin: 20px 0;

 }
 .header-nav a {
    text-decoration: none;
    padding: 5px 5px;
    color: #555555;
 }
 header a:last-child {
    text-decoration: underline;
    color: red;
 }
 .logo {
    padding-top: 20px;
 }

 nav {
    display: flex;
    flex-direction: column;
    
 }
@media screen and (min-width: 768px) {
    body {
        padding: 20px 20px;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-weight: 400;
    }
      header {
        padding: 0;
    }
    .logo {
        padding-top: 0;
    }
    a {
        margin: 0 20px
    }
}

.hero {
    margin-top: 4rem;
    padding-left: 10px;
    
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        mix-blend-mode: normal;
    }
    .content {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        min-width: 270px;
    }
    .content:hover + .img.container  {
        display: 100%;
    }

    h5 {
     color: #ff3998;
     letter-spacing: 0.1em;
     font-weight: 700;
     font-size: 16px;
    }
    h1 {
     font-weight: 900;
     font-size: 48px;
     color: black;
    }
    button {
        border-radius: 50px;
        background-color: white;
        color: black;
        border: 3px solid rgb(219, 69, 127);
        padding: 20px 40px;
        font-weight: 500;
        margin-top: 10rem;
    }



#upsell {
     margin-top: 2rem;
     background-image: url(assets/background.svg);
     background-repeat: no-repeat;
     height: 200px;
     padding-top: 6rem; 
     padding-left: 10px; 
    
    }
    h2 {
        font-weight: 700;
        color: black;
    }
@media screen and (min-width: 768px){
    #upsell {
        border-radius: 15px;
        background-size: cover;
  }
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 4rem;
    
}
 #press ul {
    list-style-type: none;
    padding: 0 0 0 5px;
}
 .wrapper img {
     margin: 1rem 2rem ;
 }


@media screen and (min-width: 768px) {
#press ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px 5px;
    padding-left: 0;
    list-style-type: none;
 }
}

.hero-2 .img-container {
   margin-top: 7rem;
 }
 .hero-2 .container {
    column-gap: 8rem;
    padding: 0 8px;
    border-top: 3px #eeeeee solid;
    border-bottom: 3px #eeeeee solid;
    margin-top: 4rem;
 }
 .hero-2 button {
     margin-top: 10px;
 }

#showcase-text h2 {
    color: black;
    font-weight: 500;
 }

 #showcase-text {
     padding: 0 10px;
 }
 .opensea a {
    margin: 0 0;
    color: #555555;
 }
 #showcase-images {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
 }
 .image {
     background-color: #eeeeee;
     border-radius: 15px;
     margin: 0 10px;
     padding-bottom: 10px;
 }
 .left li, .right li {
    list-style-type: none;
    margin: 10px 0;
 }
 .series {
     color: orange;
 }
 .darktext {
     color: black;
     font-weight: 500;
 }
 .image-text {
     display: flex;
     flex-direction: row;
    
 }
 .left ul {
    padding-left: 20px;
 }
 .right ul {
    text-align: end;
 }

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 6rem 0.5rem;
 } 

 footer h5 {
    color: #555555;
    letter-spacing: 0;
    margin-bottom: 15px;
 }
  .footer-social {
     list-style-type: none;
     display: flex;
     justify-content: flex-start;
     padding: 0 0;
     }
     .footer-social li {
     margin-right: 20px;
     }
     h4 {
     font-weight: 500;
     }

 .right-part{
        display: flex;
        flex: 100%;
        flex-direction: row;
        width: 100%;
   
         }
     .lastnav {
       flex: 50%;
     }
     #footer-right {
         height: 350px;
     }
     
      .lastnav ul {
       list-style-type: none;
       display: block;
       justify-content: center;
       padding: 0 0;
     }
      .lastnav a {
          text-decoration: none;
          color: #555555;
          margin-left: 0;
         
        }
     .lastnav li {
      padding: 10px 0px;
     }

  #bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      font-weight: 400;
      font-size: 15px;
      color: #999999;
      padding-top: 2rem;
  }
  @media screen and (min-width: 768px){
      footer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
      }
          
         footer h5 {
           margin-top: 5px;}
       #footer-right {
           width: auto;
           height: auto;
           display: flex;
           flex-direction: row;
       }
       .lastnav {
           margin: 0 5rem;
       }
       
    }


       









   